<launch>
<arg name="webcam" default="false"/>
<arg if="$(arg webcam)" name="camera" default="/dev/video0"  />
<arg if="$(arg webcam)" name="topic" default="/usb_cam/image_mono"  />
<arg unless="$(arg webcam)" name="topic" default="/multisense/camera/left/image_raw"  />


<!-- launch usb_cam for a bare test -->
<include if="$(arg webcam)" file="$(find usb_cam)/launch/usb_cam-test.launch"/>

</launch>
